<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="Description" content="Hathmaluwa blogs syndicator - up-to-date news/blogs from sri lanka"/>
        <title>Hathmaluwa blogs syndicator | {{title}}</title>
        <style id="jss-server-side">{{{css}}}</style>
    </head>
    <body>
        <div id="root">{{{body}}}</div>
        <script type="application/javascript" src="/static/bundle.js" ></script>
    </body>
</html>